.footer {
  margin-top: 200px;
  width: 100%;
  border-top: solid 1px var(--eirie-black);
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1024px) {
    margin-top: 100px;
  }
}

.logo-footer {
  position: absolute;
  max-height: 50px;
  margin-top: -26px;
  background-color: var(--almond);
  padding: 0 20px;
}

.div-footer {
  width: 200px;
  height: 100px;
  margin: 100px 50px 0 50px;
}

.h1-menu-footer {
  font-size: 1.4rem;
}

.-footer-middle {
  margin-left: 150px;
  margin-right: 150px;
  width: 500px;
  @media screen and (max-width: 1024px) {
    margin-left: 50px;
    margin-right: 50px;
  }
  @media screen and (max-width: 800px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.e-mail {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 3.5rem;
  padding-bottom: 10px;
  border-bottom: var(--eirie-black) 1px solid;
}

.input-email {
  background-color: transparent;
  transform: translate(0, -100%);
  padding: 9px;
  width: 70%;
  border: none;
  outline: 0;
  @media screen and (max-width: 800px) {
    margin-left: 0;
    margin-right: 0;
    width: 60%;
  }
}

.btn-send {
  background-color: var(--almond);
  border: none;
  cursor: pointer;
  transform: translate(0, 3px);
  font-size: 11px;
  z-index: 3;

}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--almond) inset;
  border-bottom: var(--eirie-black) 1px solid;
}

.submenu {
  display: flex;
  justify-content: space-between;
  margin-top: 2.4rem;
  font-size: 0.8rem;
}

.item-submenu {
  margin-top: 1rem;
  margin-right: 20px;
}

.h1-menu-footer-social {
  font-size: 1.4rem;
  text-align: center;
}

.submenu-social {
  font-size: 0.8rem;
  margin-top: 2.5rem;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2rem;
}

.img-social {
  max-height: 1rem;
}

.p-social {
  margin-left: 0.2rem;
}

.span-footer {
  position: absolute;
  margin-top: 16rem;
  font-size: 12px;
  padding: 20px;
}
