.section-banners {
  background-color: var(--black);
  width: 100%;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  border-top: 2px solid white;
  flex-wrap: wrap;
  height: 480px;
  @media screen and (max-width: 1280px) {
    height: 550px;
    margin-bottom: 100px;
  }
  @media screen and (max-width: 1024px) {
    height: 1050px;
    margin-bottom: 0px;
  }
}

.article-banners {
  margin-top: -165px;
  width: 17rem;
  margin-left: 75px;
  text-align: justify;
  @media screen and (max-width: 1280px) {
    margin-top: 90px;
    width: 17rem;
    margin-left: 15%;
    text-align: justify;
  }
  @media screen and (max-width: 1024px) {
    margin: -50px auto;
  }
}

.h1-banners {
  margin: 50px 0;
  font-size: 2.5rem;
}

.p-banners {
  line-height: 1.2rem;
}

.fig-section-banners {
  max-width: 260px;
  background-color: var(--cultured);
  color: var(--eirie-black);
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  line-height: 20px;
  border-radius: 20px 20px 0 0;
  margin: 20px auto;
  border: white solid 1px;

  @media screen and (min-width: 1280px) {
    top: 155px;
    margin-right: 2rem;
  }
}

.-fig-banners-1 {
  margin-bottom: 50px;
  @media screen and (min-width: 1280px) {
    position: absolute;
    right: 18rem; //isso
    top: 210px; //isso
  }
  @media screen and (max-width: 1280px) {
    width: 17rem;
    margin-left: 55%;
    margin-top: -30%;
  }
  @media screen and (max-width: 1024px) {
    margin: 0 auto;
    margin-bottom: -50px;
    margin-top: -50px;
  }

  background-color: var(--cultured);
}

.-fig-banners-3,
.-fig-banners-2 {
  display: none;
  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.img-section-banners-1,
.img-section-banners-2,
.img-section-banners-3 {
  width: 260px;
  height: 300px;
  object-fit: cover;
  border-radius: 18px 18px 0 0;
  margin-bottom: -10px;
  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.img-section-banners-2 {
  height: 150px;
}

.h1-section-banners {
  margin-top: 15px;
  font-weight: bold;
  line-height: 50px;
  position: relative;
}

.p-section-banners {
  font-size: 14px;
}

.all-figures {
  position: sticky;
  margin-top: -110px;
  width: 100%;
  @media screen and (min-width: 1280px) {
    margin-right: 40px;
    width: auto;
  }
}

.arrow {
  transform: rotate(270deg);
  height: 40px;
  margin-left: 90px;
  width: 95px;
  @media screen and (max-width: 1280px) {
    display: none;
  }
}
