.section-slide {
  height: 90vh;
  overflow: hidden;
  position: sticky;
  z-index: 0;
  border-bottom: 2px solid var(--white);
  @media screen and (max-width: 1024px) {
    
  }
}

div.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: var(--almond);
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: var(--almond);
}

.-image-1 {
  background-image: url(https://picsum.photos/1920/1280);
}
.-image-2 {
  background-image: url(https://source.unsplash.com/random/1920x1280);
}
.-image-3 {
  background-image: url(https://picsum.photos/1920/1280);
}
.-image-4 {
  background-image: url(https://source.unsplash.com/random/1920x1280);
}
.-image-5 {
  background-image: url(https://picsum.photos/1920/1280);
}
.-image-6 {
  background-image: url(https://source.unsplash.com/random/1920x1280);
}

.swiper-slide {
  background-position: bottom center;
  background-repeat: no-repeat;
  filter: grayscale(80%);
}





