.product-section {
  height: 900px;
  width: 100%;
  position: sticky;
}

.canvas {
  position: relative;
  width: 90%;
  height: 500px;
  background-color: var(--eirie-black);
  top: 400px;
  border-radius: 0 10px 10px 0;
}

.img-canvas {
  width: 300px;
  height: 390px;
  transform: translate(16%, 14%);
  object-fit: cover;
  box-shadow: black 3px 3px 5px;
}

.div-product {
  width: 20rem;
  min-height: 390px;
  padding-left: 400px;
  transform: translate(-1%, -87.5%);
  color: var(--white);
  text-align: justify;
}

.h1-product {
  margin: 50px 0;
  font-size: 3rem;
}

.p-product {
  line-height: 1.2rem;
}

.btn-canvas {
  border-radius: 5px;
  margin-top: 50px;
  padding: 0.5rem 3.5rem;
  color: var(--eirie-black);
  background-color: var(--almond);
  border: 0;
  box-shadow: black 3px 3px 5px;
}

.section-slide.-product-slider {
  width: 450px;
  height: 300px;
  right: 50px;
  position: absolute;
  border-radius: 10px;
}